footer section.featured ul li h6, footer section.subscribe h6, footer section.subscribe a {
  text-align: center;
  font-family: "Montserrat";
  font-size: 0.8rem; }

input,
select,
option {
  border-radius: 0.2rem;
  border: 1px solid #3d0070;
  outline: none;
  color: #3d0070;
  background: none; }

header nav.main-nav > ul.main-menu > li:hover > a, header nav.main-nav > ul.main-menu > li > ul > li > a:hover {
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(48, 2, 29, 0.3); }

a {
  text-decoration: none; }

ul li {
  list-style-type: none; }

i.fa {
  font-size: 1rem;
  color: #3d0070; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3d0070; }

header {
  padding: 1rem;
  display: grid;
  align-items: center;
  grid-row-gap: 1rem;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50px 20px 20px 2px;
  grid-template-areas: "logo info-message info-message info-message auth" "search offers offers offers user" "main-nav main-nav main-nav main-nav main-nav" "hr hr hr hr hr"; }

header * {
  text-align: center; }

header hr {
  grid-area: hr;
  height: 1px;
  border: none;
  background-color: #3d0070;
  margin-top: -0.3rem;
  margin-left: 0.2rem;
  margin-right: -0.1rem; }

header .logo {
  padding-top: 0.5rem;
  grid-area: logo;
  margin-left: 4rem; }

header .logo a {
  display: block; }

header .logo a img {
  display: block;
  width: auto;
  width: 100px; }

header .info-message {
  height: 50px;
  grid-area: info-message;
  border-radius: 0.6rem;
  background: linear-gradient(to bottom, rgba(4, 0, 255, 0.1) 0%, rgba(136, 252, 252, 0) 100%), url("images/banners/blue-deal-of-the-month.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  border-bottom: 1px solid #e2ecff;
  border-left: 1px solid #e2ecff;
  border-right: 1px solid #e2ecff; }

header .info-message a {
  display: inline-block;
  line-height: 50px;
  vertical-align: middle;
  font-family: "Oleo Script", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #2828a4;
  text-shadow: 0 0.05rem 0.1rem #0d026c;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  width: 95%; }

header .info-message button {
  background: none;
  border: none;
  outline: none; }

header .auth {
  grid-area: auth; }

header .auth a,
header .auth span {
  color: #3d0070;
  font-size: 1rem; }

header .auth i,
header .auth select {
  margin: 0 0.3rem; }

header .user select,
header .user select option {
  font-weight: bold;
  color: #3d0070; }

header ul.auth li,
header ul.user li {
  display: inline-block; }

header ul.user {
  grid-area: user; }

header ul.user > li:nth-child(3) {
  position: relative;
  border: 1px solid #3d0070;
  border-radius: 3px;
  padding: 0;
  box-sizing: border-box;
  width: 60px;
  height: 22px; }

header ul.user > li:nth-child(3) span {
  font-weight: 600;
  color: #3d0070;
  text-align: left;
  font-size: 1rem; }

header ul.user > li:nth-child(3) img {
  display: block;
  position: relative;
  top: 3px;
  width: 20px; }

header ul.user > li:nth-child(3) i:nth-of-type(2) {
  display: none; }

header ul.user > li:nth-child(3) > img {
  display: inline-block;
  padding: 0 0px; }

header ul.user > li:nth-child(3) > i.fa {
  font-size: 1rem;
  margin-left: 0.1rem; }

header ul.user > li:nth-child(3) ul {
  display: none;
  position: absolute;
  top: 21px;
  left: -1px;
  border: 1px solid #3d0070;
  background: white;
  width: 100%; }

header ul.user li:nth-child(3):hover ul {
  display: block; }

header ul.user ul.country {
  background-color: white;
  z-index: 9999; }

header ul.user ul.country li {
  display: block;
  width: auto;
  height: 22px; }

header ul.user ul.country li:hover {
  cursor: pointer;
  background-color: #4b8ffc; }

header ul.user ul.country li:hover span {
  color: white; }

header ul.user ul.country li img {
  display: inline-block;
  width: 22px;
  padding: 0 1px; }

header div.search {
  grid-area: search; }

header div.search input[type="text"] {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  padding: 0.1rem 0.2rem;
  font-family: FontAwesome; }

header div.search input[type="text"]::placeholder {
  text-align: right;
  color: #3d0070;
  padding: 0 0.5rem 0 0; }

header ul.offers {
  grid-area: offers; }

header ul.offers li {
  display: inline-block;
  width: 30%;
  text-align: center; }

header ul.offers li a {
  padding: 0.1rem 0.3rem;
  font-family: "Oleo Script", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  color: #3d0070;
  border-bottom: 1px solid #e2ecff;
  border-left: 1px solid #e2ecff;
  border-radius: 0.3rem;
  text-transform: uppercase;
  text-shadow: 0 0.1rem 0.1rem rgba(13, 2, 58, 0.3); }

header ul.offers li a:hover {
  background-color: #fafdff;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(2, 46, 56, 0.3); }

header .main-nav {
  grid-area: main-nav;
  align-self: start; }

header .main-nav a {
  color: #260050; }

header .main-nav .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%; }

header .main-nav .main-menu ul {
  background: white; }

header .main-nav a {
  font-size: 0.9rem; }

header nav ul li {
  display: inline-block; }

header nav.main-nav li a {
  text-transform: uppercase;
  font-weight: 400; }

header nav.main-nav > ul.main-menu {
  position: relative;
  top: 0; }

header nav.main-nav > ul.main-menu > li * {
  text-align: left; }

header nav.main-nav > ul.main-menu > li > a {
  padding: 0.2rem 0.3rem 0.3rem 0.3rem;
  display: block;
  width: 100%; }

header nav.main-nav > ul.main-menu > li > a,
header nav.main-nav > ul.main-menu > li > ul > li > a {
  font-weight: 600; }

header nav.main-nav > ul.main-menu > li > ul {
  position: absolute;
  top: 1.8rem;
  border: 1px outset #ddc5d2;
  padding: 0.9rem;
  display: none;
  align-items: flex-start;
  border-radius: 4px; }

header nav.main-nav > ul.main-menu > li:last-of-type > ul {
  right: 0; }

header nav.main-nav > ul.main-menu > li > ul > li > a {
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  display: block;
  text-align: justify;
  width: 100%;
  text-align: left; }

header nav.main-nav > ul.main-menu > li > ul > li {
  margin: 0 1rem; }

header nav.main-nav > ul.main-menu > li > ul > li > ul {
  margin-top: 0.3rem;
  margin-left: 0.2rem; }

header nav.main-nav > ul.main-menu > li:hover > ul {
  display: flex; }

header nav.main-nav > ul.main-menu > li > ul > li > ul > li {
  display: block;
  padding: 0rem 0.2rem; }

header nav.main-nav > ul.main-menu > li > ul > li > ul > li:hover {
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(48, 2, 29, 0.3); }

header nav.main-nav > ul.main-menu > li > ul > li > ul.diamonds-submenu-first,
header nav.main-nav > ul.main-menu > li > ul > li > ul.jewelry-submenu-first,
header nav.main-nav > ul.main-menu > li > ul > li > ul.birthstones-submenu-first {
  columns: 2; }

header nav.main-nav > ul.main-menu > li > ul > li > ul.birthstones-submenu-first > li > a {
  text-align: center; }

main {
  margin-top: 1rem;
  padding: 1rem; }

main section.week-offers {
  background: url("images/backgrounds/week-offers-bg.jpg") no-repeat 100% center;
  background-size: cover;
  height: 26rem; }

main section.week-offers h1 {
  padding: 1.5rem 0 0 5rem;
  font-weight: lighter;
  font-size: 3rem; }

main section.week-offers h1 span {
  color: #1e0114; }

main section.week-offers h1.week-offer-rabat {
  padding-top: 0; }

main section.week-offers h3 {
  padding: 1.5rem 0 0 5rem;
  font-weight: lighter;
  width: 25%;
  font-family: "Oleo Script"; }

main section.week-offers a {
  display: block;
  padding: 1.2rem 0 0 5rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #3d0070;
  text-transform: uppercase; }

main section.jewelry-gifts {
  background: url("images/backgrounds/jewelry-gifts-bg.png") no-repeat center 100%;
  background-size: cover;
  height: 26rem; }

main section.jewelry-gifts .text-right {
  position: absolute;
  right: 5rem;
  text-align: right; }

main section.jewelry-gifts h1 {
  padding: 1.5rem 0 0 5rem;
  font-weight: lighter;
  font-size: 3rem; }

main section.jewelry-gifts h1.week-offer-rabat {
  padding-top: 0; }

main section.jewelry-gifts a {
  display: block;
  padding: 1.2rem 0 0 5rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #3d0070;
  text-transform: uppercase; }

main section.special-collection {
  margin-top: 2rem; }

main section.special-collection > h2,
main section.special-collection > h3 {
  text-align: center;
  font-weight: 400;
  text-transform: capitalize; }

main section.special-collection > h2 {
  font-size: 2.4rem; }

main section.special-collection > h3 {
  font-size: 2rem; }

main section.clients > h2,
main section.clients > h3 {
  text-align: center;
  font-weight: 400;
  text-transform: capitalize; }

main section.clients > h2 {
  font-size: 2.4rem; }

main section.clients > h3 {
  font-size: 2rem; }

main section.clients article {
  display: flex;
  margin: 1rem;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem rgba(99, 1, 60, 0.1); }

main section.clients article figure {
  width: 35%; }

main section.clients article figure img {
  border-radius: 0.3rem;
  width: 80%;
  min-width: 300px;
  margin: 2rem 0;
  display: block;
  margin: 2rem auto; }

main section.clients article blockquote {
  width: 45%;
  border: none;
  color: #7900ff;
  margin: 0 2rem; }

main section.clients article blockquote p {
  line-height: 1.6;
  text-align: justify; }

main section.clients article blockquote h4 {
  margin-top: 0.8rem;
  text-align: right;
  color: #7900ff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0; }

main section.clients article:nth-of-type(2) blockquote h4 {
  text-align: left; }

main section.clients article:nth-of-type(3) figure,
main section.clients article:nth-of-type(3) blockquote {
  width: 70%;
  margin: 0 auto; }

main section.build-your-own {
  margin-top: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

main section.build-your-own div.build-your-own-choices h2 {
  text-align: center;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 2.4rem; }

main section.build-your-own div.build-your-own-choices .choice {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

main section.build-your-own div.build-your-own-choices .choice a {
  border: 1px solid #260050;
  margin: 2rem;
  border-radius: 0.6rem;
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  width: 20rem; }

main section.build-your-own div.build-your-own-choices .choice a:hover {
  background: #260050;
  color: white; }

main section.build-your-own div.build-your-own-choices .ask-for-advice {
  margin-left: 2rem; }

main section.build-your-own div.build-your-own-choices .ask-for-advice p {
  display: block;
  font-size: 1.2rem; }

main section.build-your-own div.build-your-own-choices .ask-for-advice a {
  display: inline-block;
  color: #260050;
  padding-top: 0.6rem;
  font-size: 1.2rem; }

main section.build-your-own div.build-your-own-choices .ask-for-advice a i {
  padding: 0 0.2rem;
  font-size: 1.2rem; }

main section.build-your-own div.build-your-own-choices .ask-for-advice span {
  color: #2828a4; }

footer {
  margin: 2rem;
  background: #fbf4ff; }
  footer section.featured {
    width: 100%;
    background: rgba(240, 220, 240, 0.6);
    padding: 0.5rem 1rem; }
    footer section.featured ul {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-around; }
      footer section.featured ul li img {
        display: block;
        width: 90%;
        margin: 0 auto; }
      footer section.featured ul li h6 {
        color: black;
        padding-bottom: 0.8rem; }
        footer section.featured ul li h6.feat-start {
          transform: rotate(-45deg); }
        footer section.featured ul li h6.feat-end {
          transform: rotate(45deg); }
  footer section.subscribe {
    padding: 1rem; }
    footer section.subscribe h3 {
      text-align: center;
      font-size: 1.5rem;
      font-family: "Montserrat";
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0.6rem; }
    footer section.subscribe div {
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      footer section.subscribe div input {
        padding: 0.6rem 2rem; }
      footer section.subscribe div [type="text"] {
        width: 35%;
        margin-right: 0.7rem;
        color: #3d0070; }
        footer section.subscribe div [type="text"]::placeholder {
          color: #3d0070; }
      footer section.subscribe div [type="submit"] {
        width: 20%;
        margin-right: 0.7rem;
        font-weight: 600; }
        footer section.subscribe div [type="submit"]:hover {
          background: #3d0070;
          color: white; }
    footer section.subscribe h6, footer section.subscribe a {
      display: inline-block;
      text-align: center;
      margin: 0.4rem 0.3rem; }
    footer section.subscribe h6 {
      color: #4b8ffc;
      font-weight: 400; }
    footer section.subscribe a {
      color: #3d0070;
      font-weight: 900; }
  footer section.links {
    background-color: rgba(240, 220, 240, 0.6);
    margin-top: 1.5rem;
    padding: 1rem; }
    footer section.links a:hover {
      text-decoration: underline; }
    footer section.links > ul {
      display: flex;
      justify-content: space-evenly;
      align-items: stretch; }
      footer section.links > ul > li {
        display: inline-block; }
        footer section.links > ul > li > a {
          text-decoration: underline;
          display: block;
          margin-bottom: 0.5rem;
          font-weight: 800; }
        footer section.links > ul > li > ul > li {
          display: block; }
  footer section.social {
    background: #3d0070;
    padding: 2rem 1rem;
    margin-top: 1rem; }
    footer section.social ul {
      display: flex;
      justify-content: center;
      align-items: flex-start; }
      footer section.social ul li {
        margin: 1rem 1rem;
        width: 5rem;
        height: 5rem;
        display: flex;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        background: url("images/backgrounds/frame.png") no-repeat center center;
        background-size: cover; }
      footer section.social ul a i {
        font-size: 2rem;
        border-radius: 0.2rem;
        padding: 0.3rem; }
        footer section.social ul a i.fa-facebook {
          background-color: #3c5a99;
          color: white; }
        footer section.social ul a i.fa-twitter {
          color: #5da9dd; }
        footer section.social ul a i.fa-whatsapp {
          color: white;
          background-color: #5efa7a;
          border-radius: 0.7rem; }
        footer section.social ul a i.fa-pinterest-p {
          color: white;
          background-color: #bd081b;
          border-radius: 50%;
          margin: 0 auto;
          display: block; }
        footer section.social ul a i.fa-instagram {
          background-image: linear-gradient(135deg, #4b3eb0, #d22577, #fdc056);
          color: white;
          border-radius: 0.7rem; }
  footer section.certificates {
    background-color: white;
    margin-top: 1.5rem; }
    footer section.certificates a:hover {
      text-decoration: underline; }
    footer section.certificates > ul {
      display: flex;
      justify-content: space-evenly;
      align-items: stretch; }
      footer section.certificates > ul > li {
        display: inline-block; }
        footer section.certificates > ul > li > a {
          text-decoration: underline;
          display: block;
          font-weight: 800; }
        footer section.certificates > ul > li > ul > li {
          display: block; }
  footer section.all-rights {
    margin-top: 1rem;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    background: #260050;
    color: white;
    text-align: center; }
    footer section.all-rights * {
      margin: 0.2rem; }
    footer section.all-rights a {
      color: #b2d1ff; }
