<footer class="home-footer">
  <section class="featured">
    <ul>
      <li>
        <h6 class="feat-start">Included in</h6>
      </li>
      <li><a href="#"><img src="/king-of-diamonds/images/logos/forbes-logo.png" alt=""></a></li>
      <li><a href="#"><img src="/king-of-diamonds/images/logos/Bloomberg-logo.png" alt=""></a></li>
      <li><a href="#"><img src="/king-of-diamonds/images/logos/CNNMoney-logo.png" alt=""></a></li>
      <li><a href="#"><img src="/king-of-diamonds/images/logos/the-buisness-insider.png" alt=""></a></li>
      <li><a href="#"><img src="/king-of-diamonds/images/logos/the-times-logo.png" alt=""></a></li>
      <li>
        <h6 class="feat-end">Best Brands</h6>
      </li>
    </ul>
  </section>
  <section class="subscribe">
      <h3>Subscribe to our offers</h3>
      <form action="javascript:void(0);">
        <div class="email-subscription">
            <input type="text" placeholder="KoD@hotmail.com">
            <input type="submit" VALUE="SIGN UP NOW">
        </div>
      </form>
      <div class="privacy-policy-agreement">
        <h6>I agree with the terms of the provided </h6><a href="#">Privacy Policy</a>
      </div>
    </section>
  <section class="links">
    <ul>
      <li>
        <span>Customer Information</span>
        <ul>
          <li><a href="#">Delivery procedures</a></li>
          <li><a href="#">Shipping terms</a></li>
          <li><a href="#">Order processing</a></li>
          <li><a href="#">Return conditions</a></li>
          <li><a href="#">Warranties for all</a></li>
        </ul>
      </li>
      <li>
        <span>Ethical conduct</span>
        <ul>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Certificates of source</a></li>
          <li><a href="#">Research</a></li>
          <li><a href="#">Programs</a></li>
          <li><a href="#">UNN regulations compliance</a></li>
        </ul>
      </li>
      <li>
        <span>Guides and tutorials</span>
        <ul>
          <li><a href="#">Ring size guide</a></li>
          <li><a href="#">Price guide</a></li>
          <li><a href="#">4Cs guide</a></li>
          <li><a href="#">Gifts guide</a></li>
          <li><a href="#">Precious stones guide</a></li>
          <li><a href="#">Precious metals guide</a></li>
        </ul>
      </li>
      <li>
        <span>About us</span>
        <ul>
          <li><a href="#">News</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Awards</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Find us <i class="fa fa-map-marker" aria-hidden="true"></i></a> </li>
          <li><a href="#">History</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="social">
    <h2>Join us at</h2>
    <ul>
      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
    </ul>
  </section>
  <section class="certificates">
    <ul>
      <li><a href="#"><img src="/king-of-diamonds/images/logos/best-of-the-best.jpg" alt=""></a></li>
      <li><a href="#"><img src="/king-of-diamonds/images/logos/geotrust.png" alt=""></a></li>
      <li><a href="#"><img src="/king-of-diamonds/images/logos/gia.jpg" alt=""></a></li>
      <li><a href="#"><img src="/king-of-diamonds/images/logos/forbes.png" alt=""></a></li>
      <li><a href="#"><img src="/king-of-diamonds/images/logos/atlantic.jpg" alt=""></a></li>
    </ul>
  </section>
  <section class="all-rights">
    <a href="#">Sitemap</a><span>|</span>
    <a href="#">Privacy policy</a><span>|</span>
    <a href="#">Terms &#38; Conditions</a><span>|</span>
    <a href="#">Powered by AITW&reg;</a><span>|</span>
    <a href="#"></a>
    <span>&copy;All rights reserved 1995-2018</span>
  </section>
</footer>
