$color-collection:(rgb(228, 153, 255), rgb(214, 102, 255),rgb(201, 51, 255), rgb(187, 0, 255),rgb(150, 0, 204),rgb(112, 0, 153),rgb(75, 0, 102),rgb(37, 0, 51) );
$rainbow-collection:(white,yellow,green,black,blue,red,purple,orange);
@mixin slider($items, $color-col) {
  div.range-slider {
    width:100%;
    height:0.8rem;
    position:relative;
    display:flex;
    flex-flow:wrap;
    justify-content:space-between;
    span {
      width:(100/$items) * 1%;
      border-right:1px solid $spBorLight;
      @for $i from 1 through $items {
        &:nth-of-type(#{$i}) {
          background-color:nth($color-col,$i);
        }
      }
    }

  }
  ul.compartments {
    position:relative;
    top:-0.85rem;
    display:flex;
    flex-flow:wrap;
    justify-content:space-between;
    li {
      width:(100/$items) * 1%;
      input[type="radio"] {
        height:0;
        width:0;
        opacity:0;
      }
      input[type="radio"]:checked ~ label:after {
        content:'';
        height:2.4rem;
        width:0.8rem;
        display:block;
        background-color:white;
        border:1px solid $headCol;
        position:absolute;
        top:-0.7rem;
        left:40%;
        z-index:100;
      }
      label {
        width:100%;
        display:block;
        position:relative;
        height:1rem;
        top:-2.6rem;
        span {
          position:relative;
          display:block;
          top:2rem;
          margin-left:1px;
          font-size:0.7rem;
          border:1px solid $headCol;
          box-sizing:border-box;
          text-align:center;
          margin:1rem 0;
          color:$headCol;
        }
      }
    }
    $j:1;
    $col:$headCol;
    $borCol:$headCol;
    @for $i from 1 through $items {
      li:nth-of-type(#{$i}){
        input {
          $col:$headCol;
          $borCol:$headCol;
          // & ~ p {
          //   color:$col;
          //   border-color:$borCol;
          // }
          &:checked {
            $col:$liBgCol;
            $borCol:$liBgCol;
            & ~ label {
              span {
                color:$col;
                border-color:$borCol;
                // $j:$i;
              }
            } 
          }
          // & ~ p {
          //   color:$col;
          //   border-color:$borCol;
          // }
        }
      }
    }
    @for $i from 1 through $items {
    }
    // @for $i from 1 through $j - 1 {
    //   li:nth-of-type(#{$i}){
    //     label {
    //       input {
    //         & ~ p{
    //           border:1px solid $headCol;
    //           color:$headCol;
    //         }
    //       }
    //     }
    //   }
    // }
    // @for $i from $j through $items {
    //   li:nth-of-type(#{$i}) {
    //     label {
    //       input {
    //         & ~ p{
    //           color:$liBgCol;
    //           border-color:$liBgCol;
    //         }
    //       }
    //     }
    //   }
    // }
  }
}
main.main-all-diamonds {
  padding:0 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;

  aside {
    position:relative;
    height:auto;
    padding:1rem 0.5rem;
    width: 25%;
    border:1px solid $specCol;
    input.toggle-filters {
      display:none;
      //opacity:0;
      margin-left:-9999px;
      &:after,&:before  {
        position:absolute;
        left:0;
        cursor:pointer;
      }
      &.toggle-filters:checked ~ section.filters{
        display:initial;
      }
      &.toggle-filters:not(:checked):before{
        content:'Open Filters';
        display:block;
        width:100%;
        height:2rem;
        text-align:center;
        font-family:$iconFont;
        font-size:$fontHead;
        top:0.5rem;
        font-weight:800;
        font-family:$mainFont;
        // border:1px solid $headColOp;
        box-shadow: 0 1px 1px 0px $headColOp;
        color:$headColOp;
      }
      &.toggle-filters:not(:checked):after{
        content:'\f0d7';
        display:block;
        width:100%;
        text-align:center;
        font-family:$iconFont;
        font-size:$fontHead;
        top:2.1rem;
        color:$headColOp;
      }
      &.toggle-filters:checked:before{
        content:'Close Filters';
        display:block;
        width:100%;
        height:2rem;
        text-align:center;
        font-family:$iconFont;
        font-size:$fontHead;
        bottom:0.5rem;
        font-weight:800;
        font-family:$mainFont;
        // border:1px solid $menuBorColOp;
        box-shadow: 0 -1px 1px 0px $headColOp;
        color:$headColOp;
      }
      &.toggle-filters:checked:after{
        content:'\f0d8';
        display:block;
        width:100%;
        text-align:center;
        font-family:$iconFont;
        font-size:$fontHead;
        bottom:2.1rem;
        color:$headColOp;
      }
    }
    section.filters {
      article {
        padding:0.2rem 0.5rem 0.2rem 0.5rem;
        border-bottom:1px solid $menuBorColOp;
        > h3 {
          text-align:center;
          font-family: $mainFont;
          margin-bottom:0.9rem;
        }
      }
      article.filter-price, article.filter-weight  {
        label.range-holder {
          span {
            text-align:center;
            color:$headCol;
            &:nth-of-type(1) {
              width:17%;
            }
            &:nth-of-type(2) {
              width:23%;
            }
          }
          input {
            width:60%;
          }
          display:flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap:wrap;
        }
      }
      article.filter-results {
        h3 {
          font-family:$mainFont;
          display:inline-block;
        }
        a {
          i.fa{
            color:$headCol;
          }
        }
      }
      article.filter-clarity {
        @include slider(8, $color-collection);
      }
      article.filter-shapes{
        ul {
          display:flex;
          justify-content:space-between;
          flex-flow:row wrap;
          li {
            width:18%;
            margin-bottom:0.1rem;
            label {
              img {
                width:80%;
                margin:0 auto;
                border-radius:0.1rem;
                &:nth-of-type(1){
                  display:block;
                  border:1px solid $headCol;
                }
                &:nth-of-type(2){
                  display:none;
                }
              }
              input {
                position:absolute;
                left:-9999px;
                &:checked ~ img:nth-of-type(1){
                  display:none;
                }
                &:checked ~ img:nth-of-type(2){
                  display:block;
                  border:1px solid $liBgCol;
                }
                &:hover ~ img, &:checked:hover ~ img{
                  border-style:dashed;
                }
                &:checked ~ p {
                  color:$liBgCol;
                }
              }
              p {
                padding-top:0.2rem;
                text-align:center;
                font-size:0.7rem;
                color:$headCol;
              }
            }
          }
        }
      }
      article.filter-clarity {
        @include slider(8, $color-collection);
      }
      article.filter-cut {
        @include slider(4, $color-collection);
      }
      article.filter-color-grade {
        @include slider(7, $color-collection);
      }
      article.filter-color {
        border-bottom:none;
        padding-bottom:1rem;
        @include slider(8, $rainbow-collection);
        div.range-slider {
          span:nth-of-type(1) {
            border:1px solid $liBgLiCol;
          }
          @for $i from 2 through 8 {
            &:nth-of-type(#{$i}) {
              border:1px solid nth($rainbow-collection,$i);
            }
          }
        }
        ul.compartments {
          // li:nth-of-type(1) {
          //   label {
          //     input:checked ~ p {
          //       border:1px solid $liBgLiCol;
          //       color:$liBgLiCol;
          //     }
          //   }
          // }
          @for $i from 2 through 8 {
            li:nth-of-type(#{$i}) {
              input:checked ~ label {
                span {
                  border:1px solid nth($rainbow-collection,$i);
                  color:nth($rainbow-collection,$i);
                }
              } 
            }
          }
        }
      }
    }
  }

  section.results {
    width: 74%;
    header.header-all-diamonds-results {
      width:100%;
      form.productForm-layout {
        width:70%;
        div {
          width:100%;
          display:flex;
          align-items:center;
          justify-content: flex-start;
          flex-wrap: wrap;
          outline:none;
          border:none;
          label {
            // width:30%;
            margin-right:1rem;
            span {
              color:$headCol;
            }
            select {
              border-color:$selCol;
              option {
                text-transform: capitalize;
                border-color:$selCol;
              }
            }
          }
          ul.filter-layout {
            // width:40%;
            max-width:100px;
            // display:flex;
            // align-items:stretch;
            margin:0 1rem 1rem 0;
            li {
              width:30%;
              display:inline-block;
              a {
                display:block;
                height:24px;
                font-size:0px;
                // color:transparent;
                // font-size:20px;
                // height:25px;
                // // width:25px;
              }
            }
          }
        }
      }
    }
    section.main-results {
      ul {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: space-between;
  
        li {
          display: inline-block;
          width: 24%;
          height:100%;
          border:1px solid $specCol;
          margin-bottom:0.5rem;
          h3 {}
          a {
            figure {
              img {
                display: block;
                width: 100%;
              }
            }
            &:hover img {
              opacity:0.85;
            }
          }
          div.description {
            padding:0.5rem 0.4rem;
            display:flex;
            flex-flow:row wrap;
            align-items: center;
            justify-content:space-between;
            p{
              width:100%;
              display:flex;
              flex-wrap:wrap;
              justify-content: space-between;
              span {
                color:$headCol;
                font-size:0.9rem;
                &:nth-of-type(6n+1) {
                  width:44%;
                  text-align:left;
                }
                &:nth-of-type(6n+3) {
                  width:35%;
                  text-align:center;
                }
                &:nth-of-type(6n+5)  {
                  width:15%;
                  text-align:right;
                }
                &:nth-of-type(2n+2) {
                  width:3%;
                }
              }
            }
            a:nth-of-type(1) {
              width:60%;
              margin-top:0.4rem;
              padding-left:1rem;
              font-weight:500;
              // border-radius:0.2rem;
              box-shadow:$linkBoxSh;
              &:hover {
                box-shadow:$butBoxSh;
              }
            }
            a:nth-of-type(2) {
              text-transform: uppercase;
              margin-top:0.4rem;
              width:60%;
              @extend %buttonShopSm;
            }
            h3 {
              font-size:$fontHead;
              margin-top:0.4rem;
              width:40%;
              text-align:right;
              font-family:$mainFont;
            }
          }
          // div.characteristics {
          //   display: grid;
          //   grid-column-gap: 1px;
          //   grid-template-columns: 33% 2% 15% 33% 2% 15%;
          //   grid-template-rows: 1.2rem 1.2rem 1.2rem;
          //   grid-template-areas:
          //     "weight_value dash1 weight_name shape_value dash2 shape_name"
          //     "clarity_value dash3 clarity_name cut_value dash4 cut_name"
          //     "color_intensity_value dash5 color_intensity_name color_value dash6 color_name";
  
          //   span {
          //     &.ch-value {
                
          //     }
  
          //     &.ch-name {
  
          //     }
          //     &.ch-name:nth-of-type(even) {
          //       border-right:1px solid;
          //     }
          //     font-size:0.9rem;
          //     &.dash1 {
          //       grid-area:dash1;
          //     }
          //     &.dash2 {
          //       grid-area:dash2;
          //     }
          //     &.dash3 {
          //       grid-area:dash3;
          //     }
          //     &.dash4 {
          //       grid-area:dash4;
          //     }
          //     &.dash5 {
          //       grid-area:dash5;
          //     }
          //     &.dash6 {
          //       grid-area:dash6;
          //     }
          //     &.ch-value-weight {
          //       grid-area: weight_value;
          //     }
  
          //     &.ch-name-weight {
          //       grid-area: weight_name;
          //     }
  
          //     &.ch-value-shape {
          //       grid-area: shape_value;
          //     }
  
          //     &.ch-name-shape {
          //       grid-area: shape_name;
          //     }
  
          //     &.ch-value-clarity {
          //       grid-area: clarity_value;
          //     }
  
          //     &.ch-name-clarity {
          //       grid-area: clarity_name;
          //     }
  
          //     &.ch-value-cut {
          //       grid-area: cut_value;
          //     }
  
          //     &.ch-name-cut {
          //       grid-area: cut_name;
          //     }
  
          //     &.ch-value-color {
          //       grid-area: color_value;
          //     }
  
          //     &.ch-name-color {
          //       grid-area: color_name;
          //     }
  
          //     &.ch-value-color-grade {
          //       grid-area: color_intensity_value;
          //     }
  
          //     &.ch-name-color-grade {
          //       grid-area: color_intensity_name;
          //     }
          //   }
          // }
        }
      }
    }

  }
}
@media only screen and (max-width:1024px) {
  main.main-all-diamonds {
    section.results {
      padding:0 0 0 1rem;
      header.header-all-diamonds-results {
        form.productForm-layout {
          width:90%;
        }
      }
    }
  }
}
@media only screen and (max-width:960px) {
  main.main-all-diamonds {
    aside {
      width:35%;
    }
    section.results {
      width:65%;
      header.header-all-diamonds-results {
        form.productForm-layout {
          width:100%; 
          div {
            label {
              margin-right:0.5rem;
              width:33%;
            }
          }
        }
      }
      section.main-results {
        ul {
          li {
            width:33%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width:768px) {
  main.main-all-diamonds {
    aside {
      width:50%;
    }
    section.results {
      width:50%;
      header.header-all-diamonds-results {
        form.productForm-layout {
          width:100%;
          div {
            label {
              margin-right:0.5rem;
              margin-bottom:0.5rem;
              width:100%;
            }
          }
        }
      }
      header.header-all-diamonds-results {
        form.productForm-layout {
          width:100%;
          label {
            margin-right:0.5rem;
            width:33%;
          }
        }
      }
      section.main-results {
        ul {
          li {
            width:50%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width:640px) {
  main.main-all-diamonds {
    aside {
      width:100%;
      input.toggle-filters{
        display:initial;
      }
      section.filters {
        display:none;
      }
    }
    section.results {
      width:100%;
      header.header-all-diamonds-results {
        form.productForm-layout {
          width:100%;
          div {
            label {
              margin-right:0.5rem;
              margin-bottom:0.5rem;
              width:100%;
            }
          }
        }
      }
      header.header-all-diamonds-results {
        form.productForm-layout {
          width:100%;
          label {
            margin-right:0.5rem;
            width:33%;
          }
        }
      }
      section.main-results {
        ul {
          li {
            width:50%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width:480px) {
}
@media only screen and (max-width:320px) {
  main.main-all-diamonds {
    section.results {
      width:100%;
      section.main-results {
        ul {
          li {
            width:90%;
            margin:0 auto;
          }
        }
      }
    }
  }
}