<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="{{site.baseurl}}">
  <!-- <link rel="stylesheet" href="styles/css/normalize.css">
  <link rel="stylesheet" href="styles/css/typography.css">
  <link rel="stylesheet" href="styles/css/carousel.css"> -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <!-- <script type="text/javascript" src="scripts/user-interface.js"></script> -->
  <title>{{page.title}}</title>
</head>

<body>
  {% include main-header.html %}
  {{content}}
  {% include main-footer.html %}
</body>

<html>
