main.auth-main {
  font-family: $mainFont;

  * {
    font-family: inherit;
  }

  padding:1rem;

  section.auth {
    background: url($base+'images/backgrounds/auth-bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 5rem 0;
    article.auth-container {
      padding: 1rem;
      width: 25%;
      min-width: 360px;
      margin: 0 auto;
      display:flex;
      flex-direction:column;
      border-radius: 0.2rem;
      border:1px ridge white;
      // box-shadow:0 0 1px 1px $liBgColOp;
      background-color:rgba(255,255,255,0.05);
      * {
        color: white;
      }
      h3 {
        text-align: center;
        font-weight: 100;
        text-transform: capitalize;
      }
      // hr {
      //   margin:auto 1.4rem;
      // }
      form {
        margin: 0.3rem 0;
        padding: 0.4rem 1.4rem;
        display: flex;
        flex-direction: column;

        > label.form-field {
          padding: 1rem 0 0.2rem 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          > span {
            padding: 0.2rem 0;
            color: white;
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 0.2rem;
          }
        }
        > label.agreement{
          >span {
            font-size:0.8rem;
            line-height:0.6;
          }
          >input[type="checkbox"] {
            position:relative;
            top:3px;
          }
        }

        input[type="text"],input[type="password"],input[type="submit"]{
          border-color: white;
          background-color: $butCol;
          padding: 0.6rem 1rem;
          width: 100%;

          &::placeholder {
            text-transform: uppercase;
            color: white;
          }
        }

        &.login-form {
          a {
            color: $liBgLiCol;
            font-size: 0.8rem;
            margin-bottom: 1rem;
            padding: 0.2rem;
            width: 60%;
            font-weight: 900;
          }
          input[type="submit"] {
            border: 1px solid $butCol;
            text-transform: uppercase;
            cursor: pointer;
            background-color: white;
            color: $butCol;
            font-weight: 600;
            letter-spacing: 0.2rem;
            &:hover {
              background-color: $butCol;
              color: white;
              border-color: white;
              cursor: pointer;
            }
          }
        }

        &.login-form-social {
          >a {
            background-color: rgb(60, 90, 153);
            color: white;
            border: 1px solid rgba(255,255,255,0.15); 
            border-radius: 2px;
            box-shadow:0 0 1px 1px rgb(40, 70, 123);
            margin-bottom:0.3rem;
            &:hover {
              background-color: rgb(40, 70, 123);
            }
            * {
              padding: 0.3rem 1rem;
            }

            >i.fa {
              font-family: $iconFont;
              border-right: 1px ridge rgb(40, 70, 123);
              font-size: 1.6rem;
              padding-right: 1rem;
            }

            >span {
              display: inline-block;
              width:80%;
              text-align:center;
              text-transform: uppercase;
            }
          }
          p {
            font-size:0.8rem;
            color: white;
            font-size: 0.8rem;
            margin-bottom: 0.4rem;
            padding: 0.05rem;
            font-weight: 900;
          }
        }
      }
      div.register {
        padding: 0.1rem 1.4rem;
        a {
          display:block;
          margin-top:1rem;
          border-color: white;
          background-color: white;
          color: $butCol;
          padding: 0.6rem 1rem;
          width: 100%;
          border: 1px solid $butCol;
          text-transform: uppercase;
          cursor: pointer;
          font-weight: 600;
          letter-spacing: 0.2rem;
          text-align:center;
          line-height:1;
          border-radius:0.2rem;
          &:hover {
            background-color: $butCol;
            color: white;
            border-color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media only screen and (max-width:480px) {
  main.auth-main {
    section.auth {
      article.auth-container {
        min-width: 90%;
        h3 {
          font-size:1rem;
        }
        form {
          label.form-field {
            span {
              font-size:0.9rem;
            }
          }
          padding:0;
          &.login-form-social {
            > a {
              display:flex;
              > span {
                font-size:0.9rem;
                padding:0.1rem;
              }
              > i.fa {
                font-size:2rem;
              }
            }
          }
        }
        div.register {
          padding:0.1rem;
        }
      }
    }
  }
}