$headCol:rgb(61, 0, 112);
$bigCol:rgb(40, 40, 164);
$linkCol:rgb(48, 1, 29);
$liBgCol:rgb(75, 143, 252);
$offersBgCol:rgb(250, 253, 255);
$bigBorCol:rgb(226, 236, 255);
$headBorCol:rgb(237, 219, 255);
$linkBorCol:rgb(237, 219, 255);
$menuBorCol:rgb(221, 197, 210);
$white:rgb(255,255,255);
$borLink:1px solid $linkBorCol;
$borLight:1px solid $bigBorCol;
$borDark:1px solid $headCol;
$menuBor:1px outset $menuBorCol;
$headFont:"Oleo Script";
$fontAll:0.9rem;
$fontLinks:1rem;
$fontBig:1.6rem;
$fontHead:1.2rem;
@mixin formField() {
  border-radius:0.2rem;
  border:$borDark;
  outline:none;
  color:$headCol;
}
@mixin linkHover() {
  border-radius:0.2rem;
  box-shadow:0.1rem 0.1rem 0.1rem 0.1rem rgba(48, 2, 29, 0.3);
}
html {

}
a {
  text-decoration:none;
}
ul li{
  list-style-type: none;
}
i.fa {
  font-size:$fontLinks;
  color:$headCol;
}
input, select, option {
  @include formField();
}
header {
  // height:10rem;
  display:grid;
  align-items: center;
  grid-row-gap:1rem;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows:50px 20px 5px 200px;
  grid-template-areas: 
    "logo info-message info-message info-message auth" 
    "search offers offers offers user"
    "hr hr hr hr hr"
    "main-nav main-nav main-nav main-nav main-nav";
}
header * {
  text-align:center;
}
header hr {
  grid-area: hr;
  height:1px;
  border:none;
  background-color:$headCol;
}
header .logo {
  padding-top:0.5rem;
  grid-area: logo;
  margin-left:4rem;
  // padding:0.5rem 1rem;
}
header .logo a {
  display:block;
}
header .logo a img{
  display:block;
  width:auto;
  width:100px;
}
header .info-message {
  height:50px;
  grid-area: info-message;
  border-radius:0.6rem;
  background:linear-gradient(to bottom, rgba(4, 0, 255, 0.1) 0%,rgba(136,252,252,0.0) 100%), url('/images/banners/blue-deal-of-the-month.png');
  background-repeat:no-repeat;
  background-position: center bottom;
  background-size:100%;
  border-bottom:$borLight;
  border-left:$borLight;
  border-right:$borLight;
  // box-shadow:0 0.1rem 0.2rem 0.05rem rgb(175, 255, 241);
}
header .info-message a {
  display:inline-block;
  line-height:50px;
  vertical-align:middle;
  font-family:$headFont, sans-serif;
  font-size:$fontBig;
  font-weight:300;
  color:$bigCol;
  text-shadow:0 0.05rem 0.1rem rgb(13, 2, 108);
  text-transform:uppercase;
  letter-spacing:0.3rem;
  width:95%;
}
header .info-message button {
  background:none;
  border:none;
  outline:none;
}
header .auth {
  grid-area: auth;
}
header .auth a, header .auth span {
  color:$headCol;
  font-size:$fontLinks;
}
header .auth i, header .auth select{
  margin:0 0.3rem;
}
header .user select, header .user select option {
  // border:none;
  // outline:none;
  font-weight:bold;
  color:$headCol;
}
header ul.auth li, header ul.user li{
  display:inline-block;
}
header ul.user {
  grid-area: user;
}
header ul.user > li:nth-child(3) {
  position:relative; 
  border:$borDark;
  border-radius:3px;
  padding:0;
  box-sizing: border-box;
  width:60px;
  height:22px;
}
header ul.user > li:nth-child(3) span{
  font-weight:600;
  color:$headCol;
  text-align:left;
  font-size:$fontLinks;
}
header ul.user > li:nth-child(3) img{
  display:block;
  position:relative;
  top:3px;
  width:20px;
}
header ul.user > li:nth-child(3) i:nth-of-type(2) {
  display:none;
}
header ul.user > li:nth-child(3)  > img {
  display:inline-block;
  padding:0 0px;
}
header ul.user > li:nth-child(3)  > i.fa {
  font-size:$fontLinks;
  margin-left:0.1rem;
}
header ul.user > li:nth-child(3) ul {
  display:none;
  position:absolute;
  top:21px;
  left:-1px;
  border:$borDark;
  background:$white;
  width:100%;
  // box-sizing:border-box;
}
header ul.user li:nth-child(3):hover ul{
  display:block;
  // border:1px solid $headCol;
}
header ul.user ul.country{
  background-color:$white;
  z-index:9999;
}
header ul.user ul.country li {
  display:block;
  width:auto;
  height:22px;
}
header ul.user ul.country li:hover {
  cursor: pointer;
  background-color:$liBgCol;
}
header ul.user ul.country li:hover span {
  color:$white;
}
header ul.user ul.country li img {
  display:inline-block;
  width:22px;
  padding:0 1px;
}
header div.search {
  grid-area: search;
}
header div.search input[type="text"]{
  display:block;
  width:80%;
  margin:0 auto;
  text-align:left;
  padding:0.1rem 0.2rem;
  font-family: FontAwesome;
}
header div.search input[type="text"]::placeholder {
  text-align:right;
  color:$headCol;
  padding:0 0.5rem 0 0;
}
header ul.offers{
  grid-area: offers;
}
header ul.offers li{
  display:inline-block;
  width:30%;
  text-align:center;
}
header ul.offers li a{
  padding:0.1rem 0.3rem;
  font-family:$headFont, sans-serif;
  font-size:$fontHead;
  font-weight:lighter;
  letter-spacing:0.1rem;
  color:$headCol;
  border-bottom:$borLight;
  border-left:$borLight;
  border-radius:0.3rem;
  text-transform: uppercase;
  text-shadow:0 0.1rem 0.1rem rgba(13, 2, 58, 0.3);
}
header ul.offers li a:hover{
  background-color:$offersBgCol;
  box-shadow:0.1rem 0.1rem 0.1rem rgba(2, 46, 56, 0.3);
}
header .main-nav {
  grid-area: main-nav;
  align-self:start;
}
header .main-nav  a {
  font-size:$fontAll;
}
header nav.main-nav >ul > li{
  width:15%;
}
header nav ul li {
  display:inline-block;
}
header nav.main-nav li a {
  text-transform:uppercase;
  font-weight:400;
}

header nav.main-nav > ul.main-menu{
  position:relative;
  top:0;
  left:1.5rem;
}
header nav.main-nav > ul.main-menu > li {
  vertical-align:top;
  text-align:left;
}
header nav.main-nav > ul.main-menu > li *{
  text-align:left;
}
header nav.main-nav > ul.main-menu > li > a {
  padding:0.1rem 0.3rem;
  display:block;
  width:90%;
}
header nav.main-nav > ul.main-menu > li:hover >   a{
  @include linkHover;
}
header nav.main-nav > ul.main-menu > li > a,header nav.main-nav > ul.main-menu > li > ul > li > a {
  font-weight:600;
}
header nav.main-nav > ul.main-menu > li > ul {
  // display:none;
  position:absolute;
  top:1.4rem;
  border:$menuBor;
  padding:0.9rem;
  display:none;
  align-items: flex-start;
  border-radius:4px;
}
header nav.main-nav > ul.main-menu > li:last-of-type > ul {
  right:0;
}
header nav.main-nav > ul.main-menu > li > ul > li > a {
  padding:0.1rem 0.3rem 0.1rem 0.3rem;
  display:block;
  text-align:justify;
  width:100%;
  text-align:left;
}
header nav.main-nav > ul.main-menu > li > ul > li {
  margin:0 1rem;
}
header nav.main-nav > ul.main-menu > li > ul > li > a:hover{
  // text-decoration: underline;
  // background:$linkCol;
  // color:$white;
  @include linkHover;
}
header nav.main-nav > ul.main-menu > li > ul > li > ul{
  margin-top:0.3rem;
  margin-left:0.2rem;
}
header nav.main-nav > ul.main-menu > li:hover > ul {
  display:flex;
}
header nav.main-nav > ul.main-menu > li > ul > li > ul > li {
  display:block;
  padding:0rem 0.2rem;
}
header nav.main-nav > ul.main-menu > li > ul > li > ul > li:hover {
  border-radius:0.2rem;
  box-shadow:0 0.1rem 0.1rem 0.1rem rgba(48, 2, 29, 0.3);
}
header nav.main-nav > ul.main-menu > li > ul > li > ul > li:hover > a {
  // @include linkHover;
}
header nav.main-nav > ul.main-menu > li > ul > li > ul.diamonds-submenu-first, 
header nav.main-nav > ul.main-menu > li > ul > li > ul.jewelry-submenu-first,
header nav.main-nav > ul.main-menu > li > ul > li > ul.birthstones-submenu-first 
{
  columns: 2;
}
header nav.main-nav > ul.main-menu > li > ul > li > ul.birthstones-submenu-first > li > a {
  text-align:center;
}